* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  


  .fire{
width: 2rem;
height: 2rem;
margin-left: -20%;
margin-top: auto;
  }

  body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: white;
    /* background-image : url('/img/kitty4.png'); */
    
   
     }




  body .background-image{
    position: absolute;
    top: 0;
    left: 13%;
    right:12%;
    bottom:100;
    background-image: url('img/kitty4.png');
    background-size : 200px 200px;
   background-repeat:repeat; 
   background-attachment: fixed;
  }

  ul {
    list-style-type: none;
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
  }
  
  .main {
    color: black;
    line-height: 2.5;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;

    background-color: black;
    color: #fff;
    height: 60px;
    border-bottom: lightskyblue 3px solid;
  }
  
  
  .nav-logo {
    font-size: 24px;
    color: white;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    padding: 8px 12px;
}

.nav-menu li:hover {
    background-color: #555;
    border-radius: 4px;
}

.nav-menu li a {
    text-decoration: none;
    color: white;
}

/* 모바일 화면에서 네비게이션 바 토글 버튼 스타일 */
.navbar-toggleBtn {
    display: none;
    color: white;
    position: absolute;
    right: 32px;
    font-size: 24px;
}

@media only screen and (max-width: 768px) {
    /* 모바일 화면에서 스타일 변경 */
    .container {
        width: 110%;
    }

    .navbar-toggleBtn {
        display: block;
    }
}
  .navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .navbar ul {
    display: flex;
    flex-direction: row;
  }
  
  .navbar ul li {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }
  
  .navbar .nav-logo {
    font-size: x-large;
    font-weight: bold;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .navbar a:hover {
    border-bottom: 2px #fff solid;
    color: #ddd;
  }
  
  
  button {
    padding: 5px 10px;
    margin: 5px 10px;
    font-size: large;
    font-weight: bold;
    background-color: lightgrey;
    /* border-radius: 10px;
    border-width: 0px; */
  }
  
  button:hover {
    color: red;
    background-color: yellow;
  }

.photo{
  width: 600;  
  height: 500px;
  position: relative;
  top: 10px;
  left: 20px;
}


video {
  width: 600px;
  height:500px;
  position: relative;
  top: -100px;
  left: 30px;
  
}

img {
  width: 400px;
  height: 500px;
  position: relative;
  top: 10px;
  left: 20px;
}